[data-md-color-primary="gesha"] {
  --md-primary-fg-color:        #6f4e37;
  /* TODO: handle the following vars */
  /* --md-primary-fg-color--light: #6f4e37; */
  /* --md-primary-fg-color--dark:  #6f4e37; */

  --md-typeset-a-color:         #ffb47f;
}

[data-md-color-scheme="slate"] {
  --md-hue: 215;
  /* original lightness was 21% - drop to 10% */
  --md-default-bg-color: hsla(var(--md-hue),15%,10%,1);
}

.md-sidebar.md-sidebar--secondary {
  /* make ToC wider so setting names are not truncated */
  width: 14rem;
}
